.navbar__container {
    display: flex;
    justify-content: space-between; 
    padding: 0 100px;
    height: 50px;
    line-height: 50px;
    border-bottom: 2px solid #fff;
    margin-bottom: 12px;
}

.nav__link {
    text-decoration: none;
    color: #555;
}

.nav__cart {
    position: relative;
    display: flex;
    position: absolute;
    margin-top: 5px;
    margin-left: 11px;
    z-index: 1;
    height: 30px;
}

.nav__cart-items {
    position: relative;
    right: -11.5px;
    text-align: center;
    width: 30px;
    height: 30px;
    z-index: 10000000;
    color: #fff; 
}